<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="./static/css/bootstrap.min.css">
	<title>example</title>
    <style>
        ::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }
        ::-webkit-scrollbar-thumb {
            box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
            border-radius: 4px;
            background: rgba(119, 129, 149, 0.8);
        }
        .container {
            width: 400px;
            padding: 20px;
        }
        .container label {
            font-weight: normal;
        }
        .btn {
            margin-right: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h1 align="center">@Vue Component - vc-autocomplete</h1>
    <hr>

	<div id="app" class="container">

        <div class="text-center">远程请求数据已经过dataParser自定义方法解析取</div>
        <div class="text-center">本地补全库如下，请尝试输入</div>

        <button class="btn btn-warning" @click="remote">远程请求(github API)</button>
        <button class="btn btn-danger" @click="local">本地补全模式</button>

        <vc-autocomplete
            v-if="mode === 'remote'"
            :label="mode"
            :mode="mode"
            :id="id"
            :name="name"
            :autofocus="autofocus"
            :placeholder="placeholder"
            :url="url"
            :param="queryBase"
            :target="target"
            :anchor="anchor"
            :data-parser="parser"
            :parent-model-key="parentModelKey"
        >
        </vc-autocomplete>

        <vc-autocomplete
            v-if="mode === 'local'"
            :mode="mode"
            :label="mode"
            :id="id"
            :name="name"
            :autofocus="autofocus"
            :placeholder="placeholder"
            :url="url"
            :param="queryBase"
            :target="target"
            :anchor="anchor"
            :data-parser="parser"
            :parent-model-key="parentModelKey"
            :store="store"
        >
        </vc-autocomplete>

        <div class="form-group">
            <label>配置组件的label属性</label>
            <input type="text" class="form-control" placeholder="label" v-model="label" />
        </div>

        <div class="form-group">
            <label>配置组件的本地补全store, (逗号分割)</label>
            <textarea v-model="storeStr" class="form-control" style="height: 200px;"></textarea>
        </div>

        <div class="form-group">
            <div>补全组件模式 - 默认: remote</div>
            <label><input type="radio" value="remote" name="mode" v-model="mode">远程补全</label>
            <label><input type="radio" value="local" name="mode" v-model="mode">本地补全</label>
        </div>

        <div class="form-group">
            <label>配置组件的placeholder</label>
            <input type="text" class="form-control" placeholder="placeholder" v-model="placeholder" />
        </div>

        <div class="form-group">
            <label>配置组件的url(必填)</label>
            <input type="text" class="form-control" url="url" v-model="url" />
        </div>

        <div class="form-group">
            <label>配置组件的target<br>每个api返回的数据层级不同，需要取不同结构例如: 'data.data.list', 再比如'items'</label>
            <input type="text" class="form-control" target="target" v-model="target" />
        </div>

        <div class="form-group">
            <label>配置组件的anchor</label>
            <input type="text" class="form-control" anchor="anchor" v-model="anchor" />
        </div>

        <div class="form-group">
            <label>配置组件的parentModelKey</label>
            <input type="text" class="form-control" parentModelKey="parentModelKey" v-model="parentModelKey" />
        </div>

        <hr>以下为本例子配置项,配合Demo中的github的API</hr>
        <div class="form-group">
            <label>配置组件的page</label>
            <input type="text" class="form-control" page="page" v-model="page" />
        </div>

        <div class="form-group">
            <label>配置组件的per_page</label>
            <input type="text" class="form-control" per_page="per_page" v-model="per_page" />
        </div>

	</div>
	<script src='../dist/example.js'></script>
</body>
</html>
